.tytul {
    background: grey;
    margin: 0px auto 20px;
    padding: 20px;
    text-align: center;
}
.element {
    margin: 18px;
}
.first, .second {
    background: lightblue;
    padding: 5px;
    margin: 0px 2px;
}
.acceptBtn, .editBtn, .delBtn {
    padding: 6px;
    margin: 0px 2px;
}
.acceptBtn:hover, .editBtn:hover, .delBtn:hover {
    cursor: pointer;
}
.acceptBtn {
    background: rgb(49, 202, 19);
}
.acceptBtn:hover {
    background: rgb(147, 240, 128);
}
.editBtn {
    background: rgb(18, 151, 212);
}
.editBtn:hover {
    background: rgb(128, 204, 240);
}
.delBtn {
    background: crimson;
}
.delBtn:hover {
    background: lightcoral;
}