* {
    box-sizing: border-box;
}

.card {
    background: white;
    width: 15rem;
    height: 20rem;
    box-shadow: 0 1px 5px rgb(175, 175, 175);
    border-radius: 10px;
    margin: 0.5rem;
}
.header {
    background: red;
    grid-area: header;
}
.sidebar {
    background: orange;
    grid-area: sidebar;
}
.productList {
    background: white;
    grid-area: container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer {
    grid-area: footer;
    background: yellow;
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem 1fr 10rem;
    grid-gap: 10px;
    grid-template-areas:
        "header header"
        "sidebar container"
        "footer footer";
}

.product {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.product-info {
    position: relative;
    height: 60%;
}
.product-img {
    height: 60%;
    width: 100%;
    position: absolute;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.product-price {
    position: absolute;
    top: 0;
    right: 0.5rem;
}
.product-variants {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}
.product-desc {
    height: 40%;
    padding: 0.3rem;
    position: relative;
    background: rgb(228, 168, 255);
    border-radius: 0 0 10px 10px;
}
.product-desc h3 {
    margin: 0;
}
.product-desc a:nth-of-type(1) {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
}
.product-desc a:nth-of-type(2) {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}
