body {
    margin: 0;
}
.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left {
    background: rgb(151, 92, 151);
    width: 50%;
}
.right {
    background: rgb(60, 113, 192);
    width: 50%;
}