* {
    box-sizing: border-box;
}
body {
    margin: 0
}

.header-item {
    background: lightblue;
    border: 1px solid green;
    align-self: flex-end;
    margin: 1em;
}
.logo {
    height: 90%;
    margin: 1em auto 1em 1em;
}

.item-a {
    grid-area: header;
    background: #f65be3;
    display: flex;
    align-items: center;
}
.item-b {
    grid-area: main;
    background: #def6ca;
}
.item-c {
    grid-area: sidebar-left;
    background: #f497da;
}
.item-d {
    grid-area: sidebar-right;
    background: #f497da;
}
.item-e {
    grid-area: footer;
    background: #f8bdc4;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
        "header header header"
        "sidebar-left main sidebar-right"
        "footer footer footer";
}